//CSS Variables

//Colors
//$main: #32A582;
//$shade: rgba(50, 165, 130, 0.6);
$main: #64BB9A;
$shade: rgba(100, 187, 154, 0.8);
$second: #152448;
$third: #FFED00;
$fourth: #E50083;
$white: #FFFFFF;
$black: #000000;

//Nav-Top
$borderSite: $main;

//Navbar
$navbarBG: $white;
$navbarTextColor: $main;
$ColorBurgerPress: $main;

//Socials
$facebook: #3b5998;
$instagram: #ac2bac;
$linkedIn: #0082ca;

//Footer
$footerColorBG: $white;
$footerTextColor: $main;
$copyrightBG: rgba(41, 149, 33, 0.4);